body {
    background-color: rgb(0, 102, 152) !important;
}
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.box {
    width: 100%;
    height: 700px;
    background-color: white;
    border-radius: 15px;
}
.form-login {
    display: flex;
    border: 2px solid rgba(99, 99, 99, 0.2) ;
    border-radius: 5px;
    width: 350px;
    height: 30px;
    margin-top: 30px;
    padding-left: 10px;
    font-family: arial rounded mt;
    margin-left: 65%;
    font-size: 14px;
}
/* .box-2 {
    width: 40%;
    height: 630px;
    background-color: rgb(169, 31, 31);
    margin-left: 55%;
} */
.login {
    margin-top: 50px;
    width: 355px;
    height: 40px;
    background-color: rgb(0, 146, 230);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: arial rounded mt;
    margin-left: 65%;
    font-size: 14px;
}
.login:hover {
    background-color: rgb(0, 134, 211);
}
.judul {
    margin-left: 65%;
    font-size: 40px;
    font-family: arial rounded mt;
    margin-top: 5%;
}
.line {
    width: 341px;
    margin-left: 65.5%;
}
.register {
    margin-top: 30px;
    width: 355px;
    height: 40px;
    background-color: rgb(8, 230, 0);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: arial rounded mt;
    margin-left: 65%;
}
.register:hover {
    background-color: rgb(6, 192, 0);
}
.link {
    margin-left: 74%;
    text-decoration: none;
    color: rgb(0, 140, 255);
    font-family: arial rounded mt;
}
.img-login {
    position: absolute;
    left: 37%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.slct {
    border: 2px solid rgba(99, 99, 99, 0.2) ;
    border-radius: 5px;
    width: 350px;
    height: 37px;
    margin-top: 30px;
    padding-left: 8px;
    font-family: arial rounded mt;
    margin-left: 65%;
    color: rgb(103, 103, 103);
    font-size: 14px;
}