* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.navbar-akun {
    background-color: white;
    width: 100%;
    height: 50px;
}
.form-input {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tags {
    margin-left: 13%;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    font-size: 17px;
}
.search-product {
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 800px;
    height: 30px;
    margin-left: 20px;
    border-radius: 6px;
    border: none;
}
.button-search {
    position: relative;
    background-color: rgb(6, 192, 0);
    margin-left: 10px;
    border-color: rgb(6, 192, 0);
    border-radius: 6px;
    font-size: 18px;
    color: #FFFFFF;
    width: 50px;
    height: 30px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
.button-search:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
.button-search:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.mart {
    margin-right: 30px;
    font-family: gemstone;
    font-size: 30px;
    margin-top: 7px;
}
.fa-cart-shopping {
    margin-left: 10px;
    font-size: 20px;
    color: rgb(210, 210, 210);
    cursor: pointer;
}
.fa-cart-shopping:hover {
    color: rgb(233, 148, 0);
}
.fa-user {
    margin-left: 10px;
    font-size: 20px;
    color: rgb(210, 210, 210);
    cursor: pointer;
}
.fa-user:hover {
    color: rgb(255, 162, 0);
}
.button-tags {
    background-color: rgb(6, 192, 0);
    margin-left: 8px;
    padding-right: 8px;
    border: none;
    /* width: 60px; */
    border-radius: 20px;
    color: white;
}
.fa-tag {
    color: white;
    margin-top: 2px;
    margin-left: 8px;
    margin-right: 3px;
}
/*--------------------------------------*/
/* .container-akun {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.box-akun {
    height: 500px;
    width: 80%;
    background-color: white;
    border-radius: 10px;
}
.nav-akun {
    background-color: rgb(0, 140, 255);
    width: 100%;
    height: 70px;
    border-radius: 10px 10px 0 0;
}
.box-detail-akun {
    height: 400px;
    width: 20%;
    background-color: rgb(149, 2, 2);
    border: 1px solid rgb(197, 197, 197); ssss
    margin: 15px 15px;
}
.table-akun {
    display: flex;
    margin: 15px 15px;
    padding-right: 20%;
}
.table-menu-akun{
    width:  50%;
    cursor: pointer;
    border-width: 2px;
}
.table-detail {
    margin-left: 10px;
}
.span-akun {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    font-weight: bold;
} */

/*-------------------------------*/
.container-akun {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.box-akun {
    height: 150px;
    width: 40%;
    background-color: white;
    border-radius: 10px;
}
.nav-akun {
    background-color: rgb(0, 140, 255);
    width: 100%;
    height: 70px;
    border-radius: 10px 10px 0 0;
}
.span-akun {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    font-weight: bold;
}
.button-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 15px;
}
.btn-profil, .btn-pesan, .btn-alamat, .btn-logout {
    margin-left: 10px;
    padding: 10px 10px;
    background-color: rgb(6, 192, 0);
    color: white;
    border: none;
    border-radius: 8px;
}